body, html {
	font-family: 'Fugaz One', sans-serif;
	color: #799ba1;
	margin: 1em;
	background-color: #e6dcad;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

section {  
	background:#799ba1;  
	color: #add8e6; 
	padding:3em; 
	border-radius: 25px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows:min-content;
	grid-gap: 2em;
	background-color: white;
	padding: 1em;
	border-radius: 25px;
}

.section-label {
	color: white;
}

#system-title {
	grid-column: 1;
	grid-row: 1;
}

#title {
	font-size: 16rem;
	text-decoration: underline #a17993;
}

#principles {
	font-size: 2rem;
	color: #a17993;
}

.design-principles {
	grid-column: 2;
	grid-row: 1;
	padding: 3em;
}

.styles {
	grid-column: 1;
	grid-row: 2;
}

.components {
	grid-column: 2;
	grid-row: 2;
}

.regions {
	grid-column: 1;
	grid-row: 3;
}

.content {
	grid-column: 2;
	grid-row: 3;
}

.layout {
	grid-column: 1;
	grid-row: 4;
}

.usability {
	grid-column: 2;
	grid-row: 4;
}