.sessions {
	margin-right: 2em;
	display: inline-grid;
}

.projects {
	margin-right: 2em;
	display: inline-grid;
}

.articles {
	grid-column: 2 / span 1;
	display: inline-grid;
}

.grid-container {
	margin:3em;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 3em;
	grid-row-gap: 3em;
}

body, html {
	font-family: 'gotham', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightblue;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	color: white;
}

h3 {
	color: yellow;
}

.design-grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}
