.sessions {
	margin-right: 2em;
}

.projects {
	margin-right: 2em;
}

.articles {
	
}

.grid-container {
	display: inline-grid;
	padding: 20px;
}

body, html {
	font-family: 'gotham', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightblue;
	margin-top: 3em;
}

a {
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
}

h1 {
	color: white;
	margin-bottom: 1em;
}

h3 {
	color: yellow;
}
